.posts {
  width:50%;
  margin:2rem auto;
}

.post {
  display:flex;
  flex-direction:column;
  margin-bottom:1.5rem;
  padding:1rem;
  background:#f9f9f9;
  line-height:1.5rem;
  border:1px solid #eee;
  transition:all 500ms linear;
}

h2 {
  padding:1rem 0;
  font-weight:300;
}

p {
  text-align:justify;
}
